
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600&family=Roboto:wght@400;700;900&display=swap');
body{
   background-color: #fff0dd;
}


.getInfo_class{
    

    border: None;
    border-radius: 5px;
    height: 45px;
    margin-top: 10px;

}


.form-floating .cityText{
    resize: none;
    
    border-radius: 1px;
    border: 2px solid #6699CC;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
}

.getInfo_class{

    margin: 0px;
    border: 2px solid #6699CC;
    height: 50px;
    width: 75px;
    background-color: #6699CC;

}

.temp{
    border: 2px solid  red;
}


.weather-animation{
    border: 2px solid #FF8C42 ;
    padding : 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: #FF8C42;
    font-family: 'Lato', sans-serif;
    width: 100vh;
}

.description{
    margin-top: 15px;
    margin-bottom: 20px;
    

}


.navbar{

    background-color: #FF3C38;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-family: 'poppins', sans-serif;
}



@media screen and (max-width: 800px) {
    .weather-animation{
        border: 2px solid #FF8C42 ;
        padding : 15px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        background-color: #FF8C42;
        font-family: 'Lato', sans-serif;
        width: 35vh;
    }
  }